# Directories to ignore

#Module_1_Introduction/1.Introduction
#Module_1_Introduction/2.Genetic_sequencing
#Module_1_Introduction/3.Data_manipulation
Module_1_Introduction/4.Human_genetic_variation_and_diversity
Module_1_Introduction/5.Manipulating_genetic_data_with_Plink
Module_1_Introduction/6.Haplotypes_and_recombination
Module_1_Introduction/7.Data_imputation
Module_1_Introduction/8.Quality_control
Module_1_Introduction/9.Kinship_and_genetic_relateedness
Module_1_Introduction/10.Non-recombining_segments
Module_2_Population_Genetics/11.Introduction_to_population_genetics
Module_2_Population_Genetics/12.Computational_analysis_of_evolutionary_forces
Module_2_Population_Genetics/13.Population_stratification
Module_2_Population_Genetics/14.Global_ancestry
Module_3_Genetic_Epidemiology/15.Local_ancestry
Module_3_Genetic_Epidemiology/16.Introduction_to_genetic_epidemiology
Module_3_Genetic_Epidemiology/17.Variant_curation
Module_3_Genetic_Epidemiology/18.Gene-disease_association
Module_3_Genetic_Epidemiology/19.Case-control_studies
Module_3_Genetic_Epidemiology/20.GWAS
Module_3_Genetic_Epidemiology/21.PRS